<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="icons/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/todo.css")
        link(href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet')
        title Todo
    block body
        header
            h1 Todo
            #options
                button#new_task +
        .top
            .curve
        form#form(action="/", method="post")
            .form_content
                textarea#write_task(name="task", cols="30", rows="4" placeholder='Your task...' minlength='2' maxlength='230' required)
                .form_buttons
                    h3#cancel Cancel
                    button Save
        section#section
            -if(task.length < 1)
                h2#sugerence Create a new task
                    img(src="icons/up.png", alt="")
            -else if(task.length >= 1)
                -for(i = 0; i < task.length; i++)
                    form(action=`/done/${task[i].id}`, method="get").do               
                        .task
                            button#done
                                img(src="icons/done.png", alt="") 
                            p#doit= task[i].task
    script(src="js/todo.js")